<html>
    <head>
        <title> Sader Blog </title>
        <link  rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
        <link  rel="stylesheet" type="text/css" href="/stylesheets/app.css">
       
        
        <!--<script src="/scripts/app.js"></script>-->
    </head>
    <body>
        <div class="ui fixed inverted menu" style="top:50px">
            <div class="ui container">
                <div class="header item"><i class="code icon"></i> Sader Blog </div>
                <a href="/home" class="item">Home</a>
                <a href="/blogs/new" class="item">New Post</a>
            </div>
        </div>